/* Constants */
$mobileResponsiveWidth: 768px;
$defaultOpacityForShadow: 0.3;
$defaultHoverDarkenRatio: 10%;

/* Colors */
$mainFontColor: #333;
$mainBackgroundColor: #f6f6f6;

/* Interaction colors */
$whiteHoverBackground: rgba(220,220,220, 0.1);

// Color palette
$mainColors_1: #261C2C;
$mainColors_2: #3E2C41;
$mainColors_3: #5C527F;
$mainColors_4: #6E85B2;

$mainColor: $mainColors_3;

$redColor: #ED5656;

$blueColor: #56baed;

$greenColor: #49de7b;

$grey_borderColor: #E4E4E4;

$menuBackgroundColor: #404040;
$menuSeparatorColor: #323232;
