/* Colors */
$mainFontColor: #333;

$blueColor: #56baed;
$blueColor_hover: #39ace7;
$blueColor_shadow: rgba(95,186,233,0.4);

$redColor: rgba(237, 86, 86, 1);
$redColor_hover: rgba(217, 72, 72, 1);
$redColor_shadow: rgba(237, 86, 86, 0.45);

/* Others */
$mobileResponsiveWidth: 768px;