body {
    margin: 0;
    padding: 0;
    font-family: "Lato", "Arial";
    font-weight: $regularFontWeight;
    color: $mainFontColor;
    background-color: $mainBackgroundColor;
}

a {
    color: $blueColor;

    &:hover {
        color: darken($blueColor, $defaultHoverDarkenRatio);
    }
}

/* Customize menu */
.ant-layout-sider {
    background-color: $menuBackgroundColor;

    .ant-menu.ant-menu-dark {
        background-color: $menuBackgroundColor;
    }

    .ant-menu-sub {
        background-color: darken($menuBackgroundColor, $defaultHoverDarkenRatio) !important
    }

    li.ant-menu-item, li.ant-menu-submenu {

        margin-bottom:0px !important;
        margin-top:0px !important;
        padding-top:4px;
        padding-bottom:4px;

        font-weight: $lightFontWeight;

        &.ant-menu-item-selected {
            margin-bottom:3px !important;
            margin-top:3px !important;
            background-color: $mainColors_1 !important;
            font-weight:$regularFontWeight;
        }
    }

    .ant-menu > .ant-menu-item-divider {
        margin:3px 0;
        background-color: $menuSeparatorColor;
    }

    .menuHeader {
        padding: 12px 20px 12px 15px;
        background: $mainColors_3;
        background: linear-gradient(90deg, $mainColors_3 0%, $mainColors_4 100%);
        border-bottom:1px solid $menuSeparatorColor;
        display:flex;
        flex-direction: row;

        span {
            color:#FFF;
            font-weight:300;
            font-size:20px;
            letter-spacing:1px;
            flex:1;
        }
        
        .icon {
            flex-grow:0;
            align-self: flex-end;
            color:#FFF;
            font-size:20px;
        }
    }

    .menuUserHeader {
        padding: 15px 5px;
        position: relative;
        border-bottom:1px solid $menuSeparatorColor;

        div.avatar {
            width:30px;
            height:30px;
            border-radius:15px;
            background-color:#FFF;
            position:absolute;
            top:10px;
            left:10px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
            overflow:hidden;

            img {
                width:100%;
                height:100%;
            }
        }

        span {
            color:#FFF;
            padding-left:45px;
            display: block;
            letter-spacing:0.5px;
            font-weight: $lightFontWeight;
        }
    }
}

/* Custom Template : Settings */
.settingsLayout {
    margin:20px 20px;
    border: 1px solid $grey_borderColor;
    border-radius: 3px;
    background-color:#FFF;
    padding:20px 30px;

    .header {
        margin-bottom:20px;
        padding-bottom:20px;
        border-bottom: 1px solid $grey_borderColor;
        position:relative;

        .title {
            font-weight:600;
            font-size:32px;
            letter-spacing: 0.5px;
            color:$mainColor;

            &.withIcon {
                padding-left:50px;
            }
        }

        .icon {
            position: absolute;
            left:0;
            font-size:28px;
            top:4px;
            color:$mainColor;
        }
    }
}

/*
    Customization of form
*/
.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    border-color: $redColor
}

.ant-form-item-has-error .ant-input-prefix {
    color: $redColor;
}

.siteForm {
    .ant-input-prefix {
        margin-right: 8px;
    }

    .formError {
        color: $redColor;
        font-size:14px;
        font-weight:600;
        display:block;
        margin:25px 0 0;
        text-align:justify;
    }
}

.ant-notification {
    .ant-notification-notice-message {
        font-weight:600
    }
}